body {
    background-color: black;
}

.App {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.drum-pads {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px;
}

.drum-pad {
    width: 100px;
    height: 100px;
}

#display {
    color: white;
    font-weight: 700;
    display: grid;
    place-items: center;
    background-color: grey;
    padding: 10px;
}

@media (min-width: 768px) {
    .drum-pad {
        width: 150px;
        height: 150px;
    }
    #drum-machine {
        display: grid;
        gap: 1rem;
    }
    #display {
        font-size: 1.5rem;
    }
}